* {
    margin: 0;
    padding: 0;
}
html,
body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    width: 1280px;
    margin: 0 auto;
    border: 1px solid;
    box-sizing:border-box;
}

.content {
    padding-bottom: 90px;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
    background: #cfcfcf;
}