@font-face {
    font-family: 'LotoLight'; 
    src: url(../fonts/lato/Lato-Light.ttf); 
}

@font-face {
    font-family: 'LotoReg'; 
    src: url(../fonts/lato/Lato-Regular.ttf); 
}
body, html {
	height: 100%;
}
h1, h2, h3, h4, h5 {
	margin: 0;
}

body {
    background: #e4f4f3;
    font-family: 'LotoReg',Helvetica,Arial,sans-serif;
}

* {
    box-sizing: border-box;
}

.home-page {
    min-height: 100%;
    width: 100%;
    padding-left: 100px;
    display: table;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100px;
    background:#1ba69b;
}

.header-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.header-container:before {
    content: '';
    position: absolute;
    left: 0;
    top: -10%;
    width: 100%;
    height: 37%;
    background: #1aaa9e;
    transform: skewY(-40deg);
    box-shadow: 0 20px 330px 10px #02524c;
    transition: all 0.3s;
}

.header-container:after {
    content: '';
    position: absolute;
    bottom: -10%;
    width: 100%;
    height: 37%;
    background: #05998e;
    transform: skewY(40deg);
}
.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -30px;
    line-height: 50px;
    font-size: 50px;
    text-decoration: none;
    display: block;
    width: 60px;
    height: 50px;
    text-align: center;
    color: #f5f7f6;
    font-weight: 100;
    text-shadow: 2px 1px 0px #20ecbe;
    transition: all 0.3s;
}
.logo:hover {
    color: #fff;
    text-shadow: 2px 1px 0px #005f63;
}
.nav-button {
    position: absolute;
    top: 30px;
    left: 50%;
    margin-left: -17px;
    width: 34px;
    height: 34px;
    cursor: pointer;
}

.nav-line {
    display: block;
    border-bottom: 1px solid #f5f7f6;
    margin-bottom: 7px;
}


.main-content {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    text-transform: uppercase;
}

.main-content h1 {
    font-family: 'LotoLight',Helvetica,Arial,sans-serif;
    color: #01a093;
    margin: 0;
    font-size: 48px;
    line-height: 1.4;
    font-weight: 100;
}

.main-content h2 {
    font-family: 'LotoLight',Helvetica,Arial,sans-serif;
    color: #757575;
    margin: 0;
    font-size: 26px;
    line-height: 1.4;
    font-weight: 100;
}

.overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: #e4f4f3;
    // display: none;
}

.overlay_logo {
    display: inline-block;
    position: relative;
    height: 100px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 86px;
    text-align: center;
    color: #005f63;
    margin-top: -50px;
    font-weight: 100;
    text-shadow: 2px 1px 0px #fff;
    font-weight: 100;
}
.overlay_logo span {
    display: inline-flex;
    overflow: hidden;
    transition: all 0.5s;
    text-align: left;
}
.overlay_logo span.name {
    width: 135px;
    margin-right: 20px;
    height: 86px;
}
.overlay_logo span.lastname {
    width: 250px;
    height: 86px;
}

.overlay_logo.build_logo span {
    width: 1px !important;
    margin: 0 !important;
}

.overlay_logo.build_logo.anim {
    display: block;
    width: 100px;
    height: 50px;
    font-size: 50px;
    margin-top: -25px;
    transform: translateX(0%);
    color: #f5f7f6;
    text-shadow: 2px 1px 0px #20ecbe;
}
#canvas_bg {
    position: absolute;
    top: 0;
    left: 100px;
    height: 100%;
    right: 0%;
    z-index: -11;
}

@media screen and (max-widtd: 767px) {
    .home-page {
        padding-left: 0;
    }
}