body {
	
}
h1, h2, h3, h4, h5 {
	margin: 0;
}

#home {
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
	min-height: 100vh;
	background: rgba(0,0,0,0.5) url(../img/intro-bg.jpg) no-repeat center bottom;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

#home .hover {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #111;
	opacity: 0.8;
}
.center-box {
	width: 95%;
	margin: 0 auto;
	padding: 10px 0;
	text-align: center;
	z-index: 2;
}

.center-box h5 {
	color: #cc005f;
    font-family: "poppins-bold", sans-serif;
    font-size: 26px;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .3rem;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}
.center-box h1 {
    color: #FFFFFF;
    font-family: "poppins-medium", sans-serif;
    font-size: 95px;
    line-height: 1.071;
    max-width: 900px;
    margin-top: 0;
    margin-bottom: .6rem;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.center-box h4 {
	font-family: "lora-regular", serif;
    line-height: 35px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #FFFFFF;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.button-about {
	display: inline-block;
	color: #fff;
    font-family: "poppins-bold", sans-serif;
    letter-spacing: 3px;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 16px 25px;
    border: 3px solid rgba(255,255,255,0.5);
    margin-top: 30px;
    -webkit-transition: border 0.3s ;
    -o-transition: border 0.3s ;
    transition: border 0.3s;
}
.button-about:hover {
	border: 3px solid rgba(255,255,255,1);
}

.soc {
    margin: 0;
    padding: 0;
}

.soc li {
    list-style: none;
    display: inline-block;
    padding: 0 5px;
}

.soc li a {
    display: block;
    width: 40px;
    height: 40px;
    background: red;
    background: url(../img/soc.png);
    background-size: 260px;
    opacity: 0.6;
    border-radius: 3px;
    border: 2px solid #fff;
}

.soc li a.fb {
    background-position: -165px 0;
}
.soc li a.vk {
    background-position: 0 -54px;
}

.soc li a:hover{
    opacity: 1;
}
@media screen and (max-width: 700px) {
	.center-box h1 {
		font-size: 65px;
	}
}