* {
	margin: 0;
	padding: 0;
}
table {
	width: 100%;
	max-width: 800px;
	margin: 10px auto;
	font-family: arial;
	border-spacing: 0;
}

table tr {
	text-align: left;
}

table tr td {
	border-bottom: 1px solid #999;
	padding: 3px 5px;
	font-size: 14px;
	border-right: 1px solid #999; 
}

table tr th:first-child,
table tr td:first-child {
	border-left: 1px solid #999;
}
table tr th:last-child,
table tr td:last-child {
	border-right: 1px solid #999;
}


table tr td.table-title {
	padding: 10px;
	background: #00ccb4 !important;
    color: #fff;
    text-shadow: 1px 1px 1px #666;
}


table tr th {
	padding: 10px 5px;
	border-right: 1px solid #999; 
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
	background: #efefef;
	color: #000;
	// text-shadow: 1px 1px 1px #666;
	font-weight: 500;
	text-align: center
}

table tr td.defaul-price  {
	width: 70px;
	padding-right: 0
}

table tr td.defaul-price input {
	text-align: right;
	background: none;
	border: none;
	font-size: 14px;
	width: 40px;
	padding: 5px;
	text-align: right;
}


table tr td.price span {
	color: #999;
}

table tr td.type {
	width: 70px;
}
table tr td.your-amount {
	width: 90px;
	padding: 5px 10px;
}


table tr td input.amount {
	border: 1px solid;
	height: 15px;
	width: 75px;
	padding: 5px;
}


table tr:nth-child(even) td {
	background: #efefef;
}

table tr td.name {
	width: 60%;
}

table tr td.amount {
	width: 20%;
}

table tr td.price {
	width: 20%;
}


table tr td.price sup {
	font-size: 10px;
}

td.sum {
	color: #ff0400;
}

table tr.table-row td {
	background: #00ccb4;
	color: #fff;
	text-shadow: 1px 1px 1px #999;
	padding: 10px;
}

table tr.table-row td span.hide {
	float: right;
	cursor: pointer;
}

button,
table tr td input:focus,
table tr td input:active {
	outline: none;
}

button {
	padding: 7px 10px;
	background: #00ccb4;
	color: #fff;
	text-shadow: 1px 1px 1px #999;
	font-size: 14px;
	font-weight: 500;
	border: none;
	cursor: pointer;
}

button:hover {
	background: #009483;
}
.print-table td {
	text-align: center;
}
.print-table th:first-child,
.print-table td:first-child {
	text-align: left
}

#app {
	max-width: 800px;
	margin: 0 auto;
}

table tr th .mobile-title {
	display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

@media screen and (max-width: 800px) {
	#app {
		padding: 0 5px;
	}
	table tr th  {
		font-size: 12px;
	}
	table tr th .desctop-title {
		display: none;
	}

	table tr th .mobile-title {
		display: block;
	}
	
	table tr th:first-child,
	table tr td:first-child {
		width: 60%;
	}
	table tr td.type {
		padding-left: 2px;
		width: 40px;
	}
	table tr td.defaul-price {
		width: 40px;
	}
	table tr td.defaul-price input {
		width: 30px;
	}
	table tr td input.amount {
		width: 35px;
	}
	table tr td.your-amount {
		width: 50px;
	}
}

@media print {
	button {
		display: none !important; 
	}
	table,
	table tr td {
		font-size: 12px;
		border-color: #000;
	}
}