@import url('https://fonts.googleapis.com/css?family=Caveat&display=swap');
header {
	background: #fff;
	padding: 10px;
	color: #333;
}

.header_contaner {
	display: flex;
	min-height: 40px;
	align-items: center;
}

.header_logo {
	min-width: 180px;
}

.header_nav {
	width: 100%;
	text-align: center;
	font-family: 'Caveat', cursive;
}

.header_actions {
	min-width: 220px;
	text-align: right;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.shop-card {
	font-size: 28px;
	line-height: 1;
	text-decoration: none;
	color: #333;
}

.shop-card_count {
	font-size: 16px;
}

.shop-card:hover {
	color: #903e3f;
}

.search-block {
	margin-right: 10px;
	position: relative;
}

.search-block form {
	display: flex;
	margin: 0;
}
.search-input {
	width: 0;
	overflow: hidden;
	transition: 0.2s;
}

.search-block.active .search-input {
	width: 120px;
}

.empty-input {
	font-size: 12px;
	color: rgb(144, 62, 63);
	position: absolute;
	top: 100%;
	display: none;
}

.search-block.active.error .empty-input {
	display: block;
}

.search-input input {
	width: 100px;
	height: 10px;
	border: 1px solid #333;
	border-right: 0;
	border-radius: 0;
	padding: 8px;
	font-size: 14px;
}

.search-input input:focus,
.search-input input:active {
	outline: none;
}

.search-button {
	font-size: 14px;
	color: #fff;
	border-radius: 0;
	border: none;
	background: #333;
	height: 28px;
	width: 28px;
	cursor: pointer;
}

.search-button:hover {
	background: #903e3f;;
}
.main-navigation {
	margin: 0;
 	padding: 0;
}

.main-navigation_item {
	list-style: none;
	display: inline-block;
	margin: 0 10px;
}

.main-navigation_link {
	text-decoration: none;
	color: #7a7a7a;
	font-size: 14px;
	text-transform: uppercase;
	position: relative;
}
.main-navigation_link::before {
	content: '_';
	position: absolute;
	top: -100%;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0;
}

.main-navigation_item:hover .main-navigation_link {
	color: #903e3f;
}

.main-navigation_item:hover .main-navigation_link::before {
	opacity: 1;
	transition: all 0.3s;
	text-shadow: 10px 0 #903e3f, -10px 0 #903e3f;
}